<div class="row">
  <div class="col s12 m12">
    <h1> Questions </h1>
    <h2> Logged in as <%=current_user.class.model_name.human.downcase%>: <%=current_user.first_name%> </h2>
    <div class="divider"></div>
  </div> 
</div>
<div class="row">
  <%= render @lessons%>
</div>
<div class="row">
  <%= render @questions, current_user_type: current_user.type %>
</div>

