<div class="" id="welcomeMessage">
  <h1 class="header center purple-text">Nancy Campbell Worldcit Academy</h1>
  <div class="row center">
    <% if current_user.blank? %>
      <h5 class="header col s12 light">Redefining eLearning</h5>
      <a href="/auth/google_oauth2" class="btn-large waves-effect waves-light purple" id="showLogin">Log in</a>
    <% elsif !current_user.is_approved? %>
      <p>You are not approved!</p>
      <p>Please contact your administrator for approval</p>
    <% end %>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="large material-icons">group</i></h2>
        <h5 class="center">Built for students</h5>

        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="large material-icons">perm_identity</i></h2>
        <h5 class="center">Intuitive for teachers</h5>

        <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="large material-icons">settings</i></h2>
        <h5 class="center">Ministry approved</h5>

        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
      </div>
    </div>
  </div>
</div>