<div id='corkboard'>
  <img id='question' src='<%= @question.question %>'>
  <canvas id='whiteboard' height="500px" width="1000" data-id="<%= @question.id %>"></canvas>
</div>
<!-- TODO: ADJUST CANVAS SETTING TO MAKE IT A WORKING PARTIAL -->