<!-- Initialize Slider -->
<div class="row">
  <div class="col s12 l7 offset-l1">
    <div id="slider"></div>
  </div>
</div>

<!-- Initialize audio -->
<audio id='theAudio'>
  <!-- may to need to eventually change @answers to accomodate @lesson audio -->
  <source src='<%=@answer.audio%>' type='audio/wav'>
  Must run on chrome
</audio>