<p> Question created by user: <%=question.user_id %> </p>
<div><img id="" src='<%= question.question %>'/></div>
<div><%=link_to "Answer question", new_question_answer_path(question) %></div>
<% if current_user_type == 'Teacher' %>
<div><%= link_to 'Delete', {action: :destroy, id: question.id}, method: :delete, data: {confirm: 'Are you sure?'} %></div>
<% end %>