<div class="col s3 m3 l1">
    <div class="palette tools" id="eraser"></div>
    <div class="palette tools clicked" id="pencil"></div>
    <div class="palette tools" id="blue-pencil"></div>
    <div class="palette tools" id="green-pencil"></div>
    <div class="palette tools" id="orange-pencil"></div>
    <div class="pencil-weight tools clicked" id="thin"></div>
    <div class="pencil-weight tools" id="thick"></div>
    <div class="zoom tools" id="zoomIn"><i class="medium material-icons">zoom_in</i></div>
    <div class="zoom tools clicked" id="zoomOut"><i class="medium material-icons">zoom_out</i></div>
</div>