<h1> New Outlines of Courses of Study </h1>

<div class="row">
  <div class="card">
    <div class="col s12 m6">
      <label for="course_code_id" class="active">Course Code</label>
      <input type="text" name="course_code" id="course_code_id" placeholder="eg. MPM1D">
      <button id='outline_next'class="btn waves-effect waves-light btn-large btn-fullwidth rc-button">Next</button>
    </div>
  </div>  
</div>  
      