<h1 id='testStroke'> Answer the question </h1>

<div id='corkboard'>
  <img id='question' src='<%= @question.question %>'>
  <canvas id='whiteboard' height="500px" width="1000"></canvas>
  <button id='finish'>Finish!</button>

</div>