<h1 id='testStroke'> Answer the question </h1>
<div class='divider'> </div>
<div class='saveMessage'> &nbsp; </div>
<div id='corkboard'>
  <img id='question' src='<%= @question.question %>'>
  <canvas id='whiteboard' height="500px" width="1000" data-id="<%= @question.id %>"></canvas>
</div>
<button id='finish'class="btn waves-effect waves-light btn-large btn-fullwidth" type="submit">Submit
</button>
<input id='user_id'type='hidden' name='user_id' value='<%=@current_user.id %>'>