<div class="col s12 m6 l6">
  <div class="card">
    <div class="card-content">
      <p>Lesson: <%= lesson.title %> </p>
      <p>Notes: <%= lesson.difficulty %> </p>
      <p>Homework: <%= lesson.homework %> </p>
    </div>
    <div class="card-action">
        <%= link_to "Click to watch lesson", lesson_path(lesson)%>
    </div>
  </div>
</div>