<div class="col s12 m6 l6">
  <div class="card">
    <div class="card-content">
      <p>THIS IS A LESSON</p>
      <p> This is lesson teaches you something</p>
      <p class="question-marks"> This question is worth some marks </p>
    </div>
    <div class="card-action">
        <%= link_to "Click to watch lesson", lesson_path(lesson)%>
    </div>
  </div>
</div>