// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#corkboard {
}

#question {
  position: absolute;
}

#whiteboard {
  border: 4px solid #ccc;
  border-radius: 6.4px;
  margin-left: 26.25px;
}

.saveMessage {
  transition: all 1s;
}

.saveMessage.show {
  transition: all 1s;
  display: block;
}

button#finish{
  width: 240px;
  height: 60px;
  margin-left: 26.25px;
}