// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#corkboard{
  position: relative;
}

#question{
  position: fixed;
  border: 1px solid #ccc;
}

#whiteboard {
  height: 500px;
  width: 1000px;
  border: 8px solid #ccc;
  position: fixed;
}

