// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*h1 {
  font: 4em "stationery", roboto;
}

h2 {
  font: 2em "stationery", roboto;
}
*/
p.question-marks {
  font-weight: bold;
  color: red;
}

div.teacher_marked_checkbox {
  border: 1px solid #ccc;
  width: 25px;
  height: 25px;
}

p.teacher_mark {
  font-size: 15px;
  margin-top: 0px;
  margin-left: 3px;
}

.card .card-image img.question_img {
  width: initial;
  max-width: 100%;
}