// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*h1 {
  font: 4em "stationery", roboto;
}

h2 {
  font: 2em "stationery", roboto;
}
*/
p.question-marks {
  font-weight: bold;
  color: red;
}

.answer {
  .mark {
    input {
      max-width: 100%
    }
    .progress {
      margin-top: 0px;
      display: none;
    }
  }
  .image {
    max-width: 100%
  }
}

.specific-checkboxes {
  .dropdown-content {
    max-width: 500px;
    height: auto;
    padding: 5px 7px;
  }
}

.img-select {
  padding: 0 12px;
  .img-input {
    display: table;
    width: 100%;
    
    .file-field {
      display:table-cell;
      height: 46px;
      width: 100%;
      
      vertical-align: middle;
      input {
        margin-bottom: 0px;
      }
    }
  }
  
  .add-button, .delete-button {
    display:table-cell;
    vertical-align: middle;
    padding-left: 20px;
  }
  .delete-button {
    .btn-floating {
      background-color: rgb(244, 67, 54);
    }
  }
  img {
    display: block;
    height: 200px;
  }
}

.card .card-image img.question_img {
  width: initial;
  max-width: 100%;
}